<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Disney1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Disney1.Properties.Settings.ShanghaiDisneyland01ConnectionString"
            connectionString="Data Source=.;Initial Catalog=ShanghaiDisneyland01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Disney1.Properties.Settings>
            <setting name="Info" serializeAs="String">
                <value />
            </setting>
            <setting name="StayTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShowMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrollText" serializeAs="String">
                <value />
            </setting>
        </Disney1.Properties.Settings>
    </userSettings>
</configuration>